{{outlet}}

<footer class="page-footer">
	<div class="row">
		<div class="col l12 s12 footer-icones">
			<img class="social-icons" src="../../../images/facebook.svg" alt="Facebook Icon">
			<img class="social-icons" src="../../../images/instagram.svg" alt="Instagram Icon">
			<img class="social-icons" src="../../../images/twitter.svg" alt="Twitter Icon">
		</div>
	</div>
	<div class="footer-copyright">
		<div>
			@ 2004-2017 Visit Charlotte. All right reserved. 500, S. College Street, Suite 300, Charlotte, NC 28202
		</div>
	</div>
</footer>

<footer>
	<p></p>
</footer>